@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    
}
.fillterbtn{
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 40px;
}
.active{
    background-color: rgb(229, 229, 229);
    border: 1px solid;
}
.active .i{
    display: block;
}